deta
pandas
plotly
python-dotenv 
streamlit
streamlit_authenticator==0.1.5 
streamlit_option_menu
matplotlib  
nest_asyncio
scikit_learn    
seaborn 
tqdm    
understat  
xgboost 
sasoptpy
fuzzywuzzy
python-Levenshtein

# HIGHS Solver - https://github.com/JuliaBinaryWrappers/HiGHSstatic_jll.jl/releases - HiGHSstatic.v1.4.2.x86_64-w64-mingw32.tar.gz
# CBC Solver - https://www.coin-or.org/download/binary/Cbc/
